.login-container {
  width: 400px;

  margin: auto;
  padding: 20px;
  border: 2px solid #db2020;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

.form-group {
  margin-bottom: 15px;
}

.btn-login {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background: transparent;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  cursor: pointer;
}

.btn-login:hover {
  animation: rainbowGlow 2s infinite alternate;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23242a;
  height: 100vh;
}
